body {
     background: #FFF;
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
}

.test  {
    width: 405px;
    height: 30px;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
  }


button {
    display: none;
    float: right;


}

.btn {
    display: none;
    float: right;

}

input:checked~ .btn {
  display: inline;
}



#header {
     background: #F5DEB3;
     width: 100%;
     height: 55px;
}

#container {
     background: #FFD700;
     margin: auto auto;
     text-align: center;
     width: 80%;
     height: 400px;
}

.form-contact .invalid{
    display: inline-block;
    background: red;
}
.form-contact .invalid-feedback{
    color: #CC0000;
}

#navigation {
     background: #FE9798;
     width: 100%;
     height: 25px;
}

#sidebar {
     background: #40E0D0;
     float: left;
     width: 20%;
     height: 280px;
}

#content {
     background: #DCDCDC;
     float: right;
     width: 80%;
     height: 280px;
}

#clear {
     clear: both;
}

#footer {
    background: #00BFFF;
	width: 100%;
	height: 40px;
}